div {
  box-sizing : border-box;
}
body {
  margin : 0;
}
html {
  line-height : 1.15;/*기본 행간 높이*/
}

.start {
  opacity: 0;
  
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

.main-bg {
  height: 200px;
  width: 100%;
  float:left;
  margin-bottom:10px;
  /* background-image: url(./img/bg.png); */
  /* background-size: cover; */
  background-position: center;
}

.profile-img {
  height: 300px;
  width: 300px;
  margin:10px;
  margin-left:20px;
  float:left;
  /* background-image: url(./img/bg.png); */
  background-size: cover;
  background-position: left;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  font-size: 18px;
  text-align: left;
  float:left;
  margin:30px;
}

.content > .boldText {
  font-weight: 600;
  color:#5f3dc4 ;
}